h1{
    background-color: black;
    color: white;
    padding: 10px;  
}
body {
    font-family: Arial, sans-serif;  
    background-color: white;     
    text-align: center;              
    margin: 20px;                    
}
h1 {
    color: black;                   
    margin-bottom: 30px;    
}
.product-box {
    background-color: white;        
    width: 300px;                    
    margin: 0 auto;   
    padding: 15px;                   
    border: 2px solid gray;          
    border-radius: 8px;             
}

.product-box img {
    width: 100%;         
    height: auto;        
    border-radius: 5px;
}
.price {
    color: green;                      
    font-weight: bold;               
    margin-bottom: 15px;             
}
button {
    background-color: blue;          
    color: white;                    
    padding: 10px 20px;  
    border: none;                    
    border-radius: 5px;              
}